# =====================================
# Node.js / Yarn / NPM
# =====================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =====================================
# TypeScript
# =====================================
*.tsbuildinfo

# =====================================
# Build outputs
# =====================================
dist/
build/
.out/
.next/
coverage/
turbo/
.turbo/

# =====================================
# Environment
# =====================================
.env
.env.*.local
.env.local

# =====================================
# Logs
# =====================================
logs/
*.log
log.txt

# =====================================
# VSCode / IDEs
# =====================================
.vscode/
.idea/
.history/

# =====================================
# Prisma / Migrations / DB files
# =====================================
*.db
*.sqlite
*.bak
prisma/dev.db
prisma/migrations/

# =====================================
# MongoDB / Data
# =====================================
/data/
dump/
*.lock

# =====================================
# Ethers / Hardhat / Typechain / Artifacts
# =====================================
artifacts/
cache/
typechain/
typechain-types/
deployments/
broadcast/

# =====================================
# OS-specific files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# PM2 / Process files
# =====================================
*.pid
*.pid.lock
pids/

# =====================================
# Other
# =====================================
*.tgz
*.zip
*.tar
*.swp
*.swo

